.content {
  max-width: 720px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  list-style-type: none;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: white;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.header {
  background-color: #34495e;
  padding: 30px 40px;
  color: white;
  text-align: center;
  color: white;
  border: 1px solid #34495e;
  border-radius: 5px;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.add-button {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.add-button:hover {
  background-color: #bbb;
}

.listButton {
  display: flex;
  justify-content: space-evenly;
  height: 3em;
  margin: 1em;
}

.check {
  margin-left: 550px;
  margin-top: -19px;
  margin-bottom: 0px;
  margin-right: 120px;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.text-danger {
  margin-top: -19px;
  margin-bottom: 20px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: #d9384c;
}

.text-warning {
  margin-right: 10px;
  margin-top: -19px;
  margin-bottom: 20px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: #f7bf32;
}

.filter-button {
  padding: 10px;
  width: 15%;
  background: blue;
  color: white;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border: 0px solid;
  border-radius: 5px;
}

.filter-button:hover {
  background-color: #bbb;
}

.search-form {
  background-color: #34495e;
  margin-top: 10px;
  padding: 30px 40px;
  color: white;
  text-align: center;
  border: 1px solid #34495e;
  border-radius: 5px;
}

.search-form:after {
  content: "";
  display: table;
  clear: both;
}

.todo-task {
  background-color: white;
  margin-top: 5px;
  color: black;
}

.edit-task{
  background-color: white;
  width: 500px;
  margin-left: -35px;
  margin-top: -8px;
  border: 1px solid black;
  border-radius: 5px;
}

.btn-edit{
  background-color: green;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.add-back {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  margin-top: 20px;
  width: 20%;
  margin-left: 40%;
  margin-right: 50%;
}

.add-back:hover {
  background-color: #bbb;
}

.add-new{
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  margin: auto;
  margin-left: 38%;
}

.add-new:hover {
  background-color: #bbb;
}

.header-new {
  background-color: #34495e;
  padding: 30px 40px;
  color: white;
  text-align: center;
  color: white;
  border: 1px solid #34495e;
  border-radius: 5px;
  width: 70%;
  margin-left: 15%;
  margin-right: 50%;
}

.header-new:after {
  content: "";
  display: table;
  clear: both;
}